fastapi
uvicorn
gunicorn
python-dotenv
google-generativeai
requests
beautifulsoup4
lxml
html5lib
feedparser
spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl




